body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}	
#corpo {
    width: 100px;
    height: 225px;
    background-color: #82AFD0;
    top: 300px;
    left: 700px;
    position: absolute;
    border: 1px solid #000000; 
}

#cabeça {
    width: 100px;
    height: 100px;
    background-color: #CD9960;
    top: 200px;
    left: 700px;
    position: absolute;
    border: 1px solid #000000; 
}

#cabelo {
    width: 100px;
    height: 20px;
    background-color: #000000;
    top: 200px;
    left: 700px;
    position: absolute;
    border: 1px solid #000000; 
}

#olho1 {
    width: 20px;
    height: 20px;
    background-color: #fff;
    top: 230px;
    left: 720px;
    position: absolute;
    border: 1px solid #000000; 
}

#olho2 {
    width: 20px;
    height: 20px;
    background-color: #fff;
    top: 230px;
    left: 760px;
    position: absolute;
    border: 1px solid #000000; 
}

#pupila1 {
    width: 5px;
    height: 5px;
    background-color: #000000;
    top: 237px;
    left: 725px;
    position: absolute;
    border: 1px solid #000000; 
}

#pupila2 {
    width: 5px;
    height: 5px;
    background-color: #000000;
    top: 237px;
    left: 770px;
    position: absolute;
    border: 1px solid #000000; 
}

#pernadir {
    width: 20px;
    height: 100px;
    background-color: #000000;
    top: 525px;
    left: 700px;
    position: absolute;
    border: 1px solid #000000; 
}

#pernaesq {
    width: 20px;
    height: 100px;
    background-color: #000000;
    top: 525px;
    left: 780px;
    position: absolute;
    border: 1px solid #000000; 
}	

#calça {
    width: 100px;
    height: 75px;
    background-color: #000000;
    top: 450px;
    left: 700px;
    position: absolute;
    border: 1px solid #000000; 
}

#braçodir {
    width: 20px;
    height: 100px;
    background-color: #82AFD0;
    top: 300px;
    left: 640px;
    position: absolute;
    transform: rotate(90deg);
    border: 1px solid #000000; 
}

#braçoesq {
    width: 20px;
    height: 100px;
    background-color: #82AFD0;
    top: 300px;
    left: 840px;
    position: absolute;
    transform: rotate(90deg);
    border: 1px solid #000000; 
}

#sapato1 {
    width: 40px;
    height: 20px;
    background-color: #000000;
    top: 620px;
    left: 680px;
    position: absolute;
    transform: rotate(180deg);
    border: 1px solid #000000; 
}

#sapato2 {
    width: 40px;
    height: 20px;
    background-color: #000000;
    top: 620px;
    left: 780px;
    position: absolute;
    transform: rotate(180deg);
    border: 1px solid #000000; 
}

#boca {
    width: 50px;
    height: 20px;
    background-color: #760A08;
    top: 270px;
    left: 725px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #000000; 
}

#lingua {
    width: 20px;
    height: 10px;
    background-color: #FF0000;
    top: 280px;
    left: 740px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #000000; 
}

#dente1 {
    width: 5px;
    height: 7px;
    background-color: #FFFFFF;
    top: 270px;
    left: 743px;
    position: absolute;
    border: 1px solid #000000; 
}

#dente2 {
    width: 5px;
    height: 7px;
    background-color: #FFFFFF;
    top: 270px;
    left: 749px;
    position: absolute;
    border: 1px solid #000000;
}


#boneco {
    position: absolute;
    width: 100%;
}

.girando {
    animation: girar 5s linear infinite;
    transform-origin: center center;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button {
    color: #000000;
    border-radius: 50%;
    background-color: #025939;
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    font-size: 20px;
    cursor: pointer
}

#dancinha {
    background-color: #025939;
}

#voltar {
    position: absolute;
    right: 100px;

}

#fundo {
    background-color: #5FCDD9;
    height: 1000px;
    width: 100%;
    z-index: -2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

#grama {
    background-color: #025912;
    width: 300vh;
    height: 900px;
    z-index: -1;
    position: absolute;
    bottom: -500px;
    left: -200px;
    border-radius: 50%;
}

#sol {
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 1000px;
    border-radius: 50%;
}
